.home{
    padding: 3rem 4rem;
    background-color: #ECECEC;
}
@media(max-width:587px){
    .home{
        padding: 1rem 2rem;
    }
}
@media(max-width:402px){
    .home{
        padding: 1rem 1.3rem;
    }
}
.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:890px){
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 40px;
    width: 657px;
}

@media(max-width:1149px){
    .left {
        width: 460px;
    }
}
@media(max-width:890px){
    .left{
        width: 100%;
        gap: 20px;
    }
}
.left h3 ,.left .head-home h5,.head-home{
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 10px;
}
@media(max-width:1149px){
    .left h3 ,.left .head-home h5,.head-home{
        font-size: 28px;
    }
}
@media(max-width:587px){
    .left h3 ,.left .head-home h5,.head-home{
        font-size: 20px;
    }
}
@media(max-width:402px){
    .left h3 ,.left .head-home h5,.head-home{
        font-size: 18px;
    }
}
@media(max-width:351px){
    .left h3 ,.left .head-home h5,.head-home{
        font-size: 15px;
    }
}
.left h3 h4{
    color: #007e85;
}
.head-home h5{
    color: #6eab36;
}
.head-home h5 h3{
   color: #000;
}
.left p{
    color: #000;
    width: 587px;
    font-size: 20px;
}
@media(max-width:1149px){
    .left p{
        font-size: 16px;
        width: 440px;
    }
}
@media(max-width:890px){
    .left p{
        width: 95%;
    }
}
@media(max-width:587px){
    .left p{
        width: 100%;
    }
}
@media(max-width:351px){
    .left p{
        font-size: 12px;
    }
}

.bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    padding-top: 2rem;
}
@media(max-width:452px){
    .bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
}
.bottom .radio{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
button{
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 40px;
}
.div{
    width: 657px;
}
.right{
    width: 500px;
    height: 507px;
    position: relative;
}
@media(max-width:1149px){
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 420px;
    }
}
@media(max-width:587px){
    .right{
        height: 50%;
        width: 50%;  
    }
}
.right .vector{
    width: 100%;
    height: 90%;
}
.right .doctor{
   position: absolute;
   overflow: hidden;
   object-fit: cover;
   top: 5;
   left: 0;
   width: 100%;
   height: 80%;
}
/* ----------------------------------------------------------2nd section --------------------------------------------------- */

.search-form{
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
}
.search-form h1{
    font-size: 36px;
    padding-bottom: 16px;
}
@media(max-width:386px){
    .search-form h1{
        font-size: 24px;
        
    }
}
.division{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:369px){
    .division{
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:369px){
    label{
        width: 100%;
    }
}
input{
    width: 296px;
    height: 36px;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid #007e85;
}
@media(max-width:386px){
    input{
        width: 100%;
    }
}
.switch{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------------------------------------------------------------------------- */
.statistic{
    padding: 35px 0px;
    padding-bottom: 3rem;
    
}
.statistic h1{
    text-align: center;
    font-size: 28px;
    padding: 20px 0px;
    color: #007e85;
    width: auto;

}
.numbers{
   display: flex; 
    gap: 20px;
    padding-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;  
}
@media(max-width:648px){
    .numbers{
        justify-content: center;
        align-items: center;
    }
}
.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;
    
}
.number p{
    text-align: center;
    color: #000;
    width: auto;
}
.percet{
    display: flex;
    align-items: center;
}
.percet h2{ color: #6eab36;}
.percet .kilo{
    color: #889b7607;
}

/*                                               */

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    flex-wrap: wrap;
}
@media(max-width:963px){
    .content{
      justify-content: center;
      flex-direction: column-reverse;
      gap: 20px;
    }
}
.picture{
    width: 380px;
    height: 300px;
}
@media(max-width:514px){
    .picture{
        width: 100%;
    }
}
.picture img{
    width: 100%;
    height: 100%;
}

@media(max-width:963px){
    .text{ width: 100%;}
}
.text h1,p{
    width: 455px;
}
.text h1{color: #6eab36;padding-bottom: 20px;}
@media(max-width:514px){
    .text h1{
        font-size: 20px;
        width: 100%;
    } 
}
.text p{color: #000;padding-bottom: 20px;}
@media(max-width:514px){
    .text p{
        width: 100%;
    }
}
.deeferbuto{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
@media(max-width:360px){
    .deeferbuto{
        justify-content: center;
        align-items: center;
    }
}
.deeferbuto button{
    background-color: #fff;
    border-radius: 3rem;
    color: #007e85;
}
.deeferbuto .get{
    background-color: #007e85;
    color: #fff;
}
.team .membertitle{
   color: #007e85;
   text-align: center; 
}
@media(max-width:668px){
    .team .membertitle{
        font-size: 20px;
    }
}
.team{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 3rem;
}
.team .teamhed{
    text-align: center;
    width: 613px;
    color: #000;
    
}
@media(max-width:668px){
    .team .teamhed{
        width: 100%;
    }
}
.team .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.cardmember,.cardtestmon{
    background-color:#fff;
    width: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 24px;
    gap: 18px;
}
.cardtestmon{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: left;
    background-color: #6eab36;
}
.cardtestmon:hover {
    transform: scale(0) rotatey(180deg);
    transition: transform 7s ease-in-out;
    z-index: 9999;
}

@media(max-width:668px){
    .cardmember,.cardtestmon{
        width: 100%;
    }
}




