
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
}

/* ----------------------------------------------------------------------------------------- */

.fieldset-doctor{
    
    width: 60%;
}
.doctor-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#007e858f;
    padding: 3px;
    border-radius: 10px;
}
.doctor-left{
    background-color: aliceblue;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px 15px;
}
.group{
    margin-bottom: 10px;
}
.group label input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(56, 54, 54);
    background-color: aliceblue;
}
.group label #email{
    border: 1px solid red;
} 
span{
    color: red;
}
.doctor-left p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doctor-left p i{
    background-color:#007e85fd ;
    padding: 5px 30px;
    border-radius: 10px;
}

/* ------------------------------------------------------------------------------------------------ */

.doctor-right{
    padding: 20px;
}